.foot {
    height: max-content;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    background-color: #0F52BA;
}

.first-data {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}
/* --------------------- TERMS ----------------------- */
.foot-terms {
    margin: 10px 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.link-terms {
    color: #fff;
}

@media (min-width: 992px) {
    .link-terms {
        color: #fff;
        text-decoration: none;
    }

    .link-terms:hover {
        width: max-content;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #0F52BA;
        text-decoration: none;
        border-radius: 15px;
    }
}

/* ---------------------- CONTACT ------------------- */
.foot-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-pos {
    margin: 5px 0;
    display: flex;
    color: #fff;
}

.contact-icon {
    font-size: 20px;
    margin-left: 30px;
}

.contact-info { 
    margin: 0;
    margin-left: 15px;
    font-size: 18px;
    font-family: 'Gemunu Libre', sans-serif;
}

/*--------------- MEDIA ------------*/
.foot-media {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.space-foot-icon {
    text-align: center;
}

.foot-icon {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

/*------------------------ SECOND SECTION ------------------------------ */
.second-data {
    display: flex;
    flex-wrap: wrap;
}

/* ------------------ CREDIT CARDS ------------ */
.credit-cards {
    margin: 10px 20px;
}

.credit-card-title {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

.credit-card-icons {
    font-size: 35px;
    color: #fff;
}

/* ------------------------COPYRIGHT------------------ */
.copy {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.copy-text {
    margin: 0;
    color: #fff;
    font-size: 16spx;
}