#main-01 {
    background-image: url(https://images.pexels.com/photos/3812753/pexels-photo-3812753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

#main-02 {
    background-image: url(https://www.sandos.com/sites/default/files/styles/original_1920/public/2020-07/Sandos_Playacar_Familia_%20Beach_35-Edit.jpg?itok=05tSnll7);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

#main-03 {
    background-image: url(https://images.pexels.com/photos/3155666/pexels-photo-3155666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

#main-04 {
    background-image: url(https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

#main-05 {
    background-image: url(https://images.pexels.com/photos/7759300/pexels-photo-7759300.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

.overlay {
    background-color: rgba(61, 86, 178, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-title {
    color: #fff;
    font-size: 80px;
    margin-bottom: 60px;
    font-family: 'Permanent Marker', cursive;
}