.menu{
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-evenly;
}

.nav {
    width: max-content;
    display: flex;
    justify-content: center;
}

.link-navigation {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.link-navigation:hover {
    padding: 5px;
    background-color: rgba(15, 83, 186, 0.4);
    border-radius: 10px;
}